@import "variables"

// VIEW MODES
.viewModes
    text-align: center
    padding:
        bottom: 10px
        top: 4px

#toggleAggregationByDay
    &:active, &:focus, &:active:focus
        outline: none

// TIMER INTERVAL SLIDER
.timeIntervals
    height: $time-intervals-height
    opacity: 0
    padding: 0 12px

// ENTRIES
.table
    thead
        .date
            width: 110px
        .duration
            width: 95px
        .buttons
            width: 144px
    .entry
        .buttons
            form
                display: inline
