h1.nav a
    &:hover
        text-decoration: none

h1.mod
    text-align: right

.clockContainer
    text-align: right

.table
    thead
        .date
            width: 110px
        .duration
            width: 95px
        .buttons
            width: 144px
    .entry
        .buttons
            form
                // form.duplicateEntry
                display: inline
