<head>
    <meta charset="utf-8">
    <title>Time Tracker</title>
</head>

<template name="MainLayout">
    <div class="container">
        {{> Template.dynamic template=main}}
    </div>
    {{> NewProjectModal}}
</template>
<!--
kadira:flow-router
kadira:blaze-layout
erasaur:meteor-lodash
stolinski:stylus-multi
fortawesome:fontawesome
spiderable
fastclick
dburles:collection-helpers
raix:handlebar-helpers
aldeed:collection2
aldeed:autoform
accounts-ui
accounts-password
matb33:bootstrap-glyphicons
msavin:jetsetter
zimme:active-route
gwendall:auth-client-callbacks
meteortoys:allthings
-->
